force-app/main/default/flows/Flow_Create_Confirm_from_FixMyStreet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>create_confirm</name>
        <label>create confirm</label>
        <locationX>664</locationX>
        <locationY>601</locationY>
        <actionName>ConfirmWebService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Look_up_any_confirm_ref_0</targetReference>
        </connector>
        <inputParameters>
            <name>fixmystreetId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>force</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_already_has_Confirm_Reference</name>
        <label>Check if already has Confirm Reference</label>
        <locationX>363</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>create_confirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmReference</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>intro_0</targetReference>
            </connector>
            <label>Already</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_Decision</name>
        <label>Continue Decision</label>
        <locationX>577</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>intro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_confirm</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Flow Create Confirm from FixMyStreet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow Create Confirm from FixMyStreet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Look_up_any_confirm_ref</name>
        <label>Look up any confirm ref</label>
        <locationX>253</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_already_has_Confirm_Reference</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FixMyStreet__c</object>
        <outputAssignments>
            <assignToReference>ConfirmReference</assignToReference>
            <field>ConfirmReference__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_up_any_confirm_ref_0</name>
        <label>Look up any confirm ref</label>
        <locationX>869</locationX>
        <locationY>675</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>FixMyStreet__c</object>
        <outputAssignments>
            <assignToReference>ConfirmReference</assignToReference>
            <field>ConfirmReference__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>intro</name>
        <label>intro</label>
        <locationX>212</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Look_up_any_confirm_ref</targetReference>
        </connector>
        <fields>
            <name>intro_text</name>
            <fieldText>&lt;p&gt;By clicking next this fixmystreet record will be sent to confirm.  Please do not proceed if this record already has a Confirm reference.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>intro_0</name>
        <label>intro</label>
        <locationX>482</locationX>
        <locationY>339</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_Decision</targetReference>
        </connector>
        <fields>
            <name>intro_text_0</name>
            <fieldText>&lt;p&gt;This FixMyStreet record already has a Confirm Reference.  Are you sure you want to continue. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The current reference is : {!ConfirmReference}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continue</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Continue ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>1088</locationX>
        <locationY>717</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>summary_text</name>
            <fieldText>&lt;p&gt;This record has now been moved to Confirm.  Reference : {!ConfirmReference}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please remove any associated cases and then close those cases.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>intro</startElementReference>
    <status>Active</status>
    <variables>
        <name>ConfirmReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
