force-app/main/default/flows/Internal_StreetScene_Report_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateCaseFromFixMyStreet</name>
        <label>CreateCaseFromFixMyStreet</label>
        <locationX>581</locationX>
        <locationY>1365</locationY>
        <actionName>FixMyStreetCreateCase</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Case_from_FixMyStreetRecords</targetReference>
        </connector>
        <inputParameters>
            <name>fixmystreetId</name>
            <value>
                <elementReference>newFixMyStreetId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>force</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>setupConfirm</name>
        <label>setupConfirm</label>
        <locationX>825</locationX>
        <locationY>1699</locationY>
        <actionName>ConfirmWebService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputParameters>
            <name>fixmystreetId</name>
            <value>
                <elementReference>newFixMyStreetId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>force</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>HighwaysAssignment</name>
        <label>Highways</label>
        <locationX>433</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>ServiceArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Highways</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reviewHistory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_up_New_Case_0</name>
        <label>Set up New Case</label>
        <locationX>893</locationX>
        <locationY>1209</locationY>
        <assignmentItems>
            <assignToReference>New_case_variable.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Variable2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WasteRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This is a case created for a Highways issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Service_Area__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Highways</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerServicesQueueId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Service_Area_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Variable2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseOrigin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Steup_IDs</name>
        <label>Steup IDs</label>
        <locationX>610</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>CustomerServicesQueueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0Y000002MHF8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InternalWasteQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0Y000002MFfD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WasteRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120Y000000BFrfQAG</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StreetSceneQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G1n000004XK10</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WasteAssingnment</name>
        <label>Waste</label>
        <locationX>804</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>ServiceArea</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waste</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>reviewHistory</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_case_created</name>
        <label>Check if case created</label>
        <locationX>475</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Confirmed_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not yet linked</defaultConnectorLabel>
        <rules>
            <name>Case_Created_and_linked</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CreatedCaseNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Override</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End</targetReference>
            </connector>
            <label>Case Created and linked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Type</name>
        <label>Service Type</label>
        <locationX>599</locationX>
        <locationY>1113</locationY>
        <defaultConnector>
            <targetReference>CreateCaseFromFixMyStreet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Waste or Street Scene</defaultConnectorLabel>
        <rules>
            <name>Send_To_Confirm_Outcome1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceArea</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Highways</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_New_Case_0</targetReference>
            </connector>
            <label>To Confirm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Street_Scene_or_Highways</name>
        <label>Street Scene or Highways</label>
        <locationX>595</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>WasteAssingnment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Waste or Street Scene</defaultConnectorLabel>
        <rules>
            <name>Send_to_Confirm_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Send_to_Confirm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HighwaysAssignment</targetReference>
            </connector>
            <label>Send to Confirm</label>
        </rules>
    </decisions>
    <formulas>
        <name>textCaseNumber</name>
        <dataType>String</dataType>
        <expression>RIGHT({!CreatedCaseNumber},4)</expression>
    </formulas>
    <interviewLabel>Internal StreetScene Report Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal StreetScene Report Issue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>1000</locationX>
        <locationY>1362</locationY>
        <assignRecordIdToReference>Create_Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Look_up_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AddressID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>New_case_variable.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>New_case_variable.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>New_case_variable.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>New_case_variable.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>New_case_variable.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Area_Detail__c</field>
            <value>
                <elementReference>New_case_variable.Service_Area_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Area__c</field>
            <value>
                <elementReference>New_case_variable.Service_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_case_variable.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>New_case_variable.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>825</locationX>
        <locationY>1894</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>End_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CreatedCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Case_Number_0</name>
        <label>Find Case Number</label>
        <locationX>479</locationX>
        <locationY>1698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_case_created</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case_Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CreatedCaseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindFixMyStreet_Ref</name>
        <label>FindFixMyStreet Ref</label>
        <locationX>949</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_FixMyStreet_Created</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newFixMyStreetId</elementReference>
            </value>
        </filters>
        <object>FixMyStreet__c</object>
        <outputAssignments>
            <assignToReference>FixMyStreetName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Case_from_FixMyStreetRecords</name>
        <label>get Case from FixMyStreetRecords</label>
        <locationX>533</locationX>
        <locationY>1548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Case_Number_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newFixMyStreetId</elementReference>
            </value>
        </filters>
        <object>FixMyStreet__c</object>
        <outputAssignments>
            <assignToReference>CreatedCaseNumber</assignToReference>
            <field>Case_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Create_Case_Id</assignToReference>
            <field>Case__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_up_Contact</name>
        <label>Look up Contact</label>
        <locationX>1065</locationX>
        <locationY>1572</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_FixmyStreet_with_Additional_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactDetails</outputReference>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>HomePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpFixMyStreet_0</name>
        <label>LookUpFixMyStreet</label>
        <locationX>304</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Street_Scene_or_Highways</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Variable2</elementReference>
            </value>
        </filters>
        <object>FixMyStreetCategories__c</object>
        <outputAssignments>
            <assignToReference>FixMyStreetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Internal_Queue</assignToReference>
            <field>InternalQueue__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Send_to_Confirm</assignToReference>
            <field>Send_to_Confirm__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_FixmyStreet_with_Additional_Details</name>
        <label>Update FixmyStreet with Additional Details</label>
        <locationX>824</locationX>
        <locationY>1541</locationY>
        <connector>
            <targetReference>setupConfirm</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newFixMyStreetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Email__c</field>
            <value>
                <elementReference>ContactDetails.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>ContactDetails.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Phone__c</field>
            <value>
                <elementReference>ContactDetails.HomePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SiteCode__c</field>
            <value>
                <elementReference>SiteCode</elementReference>
            </value>
        </inputAssignments>
        <object>FixMyStreet__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FixmyStreet_with_Case_0_0</name>
        <label>Update FixmyStreet with Case</label>
        <locationX>762</locationX>
        <locationY>958</locationY>
        <connector>
            <targetReference>Steup_IDs</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newFixMyStreetId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <object>FixMyStreet__c</object>
    </recordUpdates>
    <screens>
        <name>Check_FixMyStreet_Created</name>
        <label>Check FixMyStreet Created</label>
        <locationX>951</locationX>
        <locationY>971</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_FixmyStreet_with_Case_0_0</targetReference>
        </connector>
        <fields>
            <name>check_1</name>
            <fieldText>Please check that below is a FixMyStreet reference.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>check_2</name>
            <fieldText>{!FixMyStreetName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmed_created</name>
        <label>Confirmed created</label>
        <locationX>657</locationX>
        <locationY>1713</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_Case_from_FixMyStreetRecords</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;Your case is not yet linked to the FixMyStreet record, please click next to check again.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Override</name>
            <dataType>Boolean</dataType>
            <fieldText>Override (please only use after you are sure the flow has not worked)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Describe_Location</name>
        <label>Describe Location</label>
        <locationX>607</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step2</targetReference>
        </connector>
        <fields>
            <name>describeLocation</name>
            <fieldText>Decribe the loction in as much detail as possible.  Use the previous button to update the map if required.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location</name>
            <fieldText>Describe the Location:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End</name>
        <label>End</label>
        <locationX>243</locationX>
        <locationY>2004</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endText</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thank you for reporting this problem, this has now been received by Rutland County Council and we will investigate. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Your case reference is &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!textCaseNumber}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_0</name>
        <label>End</label>
        <locationX>1084</locationX>
        <locationY>2026</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endText_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Thank you for reporting this problem, this has now been received by Rutland County Council and we will investigate. &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Your case reference is &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!textCaseNumber}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>reviewHistory</name>
        <label>reviewHistory</label>
        <locationX>611</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Step1_0</targetReference>
        </connector>
        <fields>
            <name>ssHistory</name>
            <extensionName>c:InternalStreetSceneHistory</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ServiceArea</name>
                <value>
                    <elementReference>FixMyStreetId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Step1_0</name>
        <label>Step1</label>
        <locationX>609</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Describe_Location</targetReference>
        </connector>
        <fields>
            <name>titleText_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: sans-serif; color: rgb(0, 0, 0);&quot;&gt;You are reporting a {!Variable2} problem.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>map_0</name>
            <extensionName>c:CommunityReportIssue</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ServiceArea</name>
                <value>
                    <elementReference>ServiceArea</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ServiceAreaId</name>
                <value>
                    <elementReference>FixMyStreetId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Lat</assignToReference>
                <name>Lat</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Long</assignToReference>
                <name>Long</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SiteCode</assignToReference>
                <name>SiteCode</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Step2</name>
        <label>Step2</label>
        <locationX>606</locationX>
        <locationY>841</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FindFixMyStreet_Ref</targetReference>
        </connector>
        <fields>
            <name>titleText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; font-size: 14px;&quot;&gt;You are reporting a {!Variable2} problem.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>internalreportissues</name>
            <extensionName>c:InternalReportSSDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>FixMyStreetId</name>
                <value>
                    <elementReference>FixMyStreetId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Lat</name>
                <value>
                    <elementReference>Lat</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Long</name>
                <value>
                    <elementReference>Long</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ServiceArea</name>
                <value>
                    <elementReference>ServiceArea</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SiteCode</name>
                <value>
                    <elementReference>SiteCode</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newFixMyStreetId</assignToReference>
                <name>newFixMyStreetId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>newReturnId</assignToReference>
                <name>returnId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>LookUpFixMyStreet_0</startElementReference>
    <status>Active</status>
    <variables>
        <name>AddressID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Create_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomerServicesQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FixMyStreetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FixMyStreetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FixMyStreetNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Internal_Queue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InternalWasteQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Lat</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>7</scale>
    </variables>
    <variables>
        <name>Long</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>7</scale>
    </variables>
    <variables>
        <name>New_case_variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newFixMyStreetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newReturnId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Send_to_Confirm</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StreetSceneQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WasteRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
