force-app/main/default/flows/New_FixMyStreet_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Case_Owner_CST</name>
        <label>Set Case Owner CST</label>
        <locationX>454</locationX>
        <locationY>582</locationY>
        <assignmentItems>
            <assignToReference>CaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0Y000002MHF8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Waste</name>
        <label>Set Case Owner Waste</label>
        <locationX>213</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>CaseOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0Y000002MHF8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Case_Up</name>
        <label>Set New Case Up</label>
        <locationX>332</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>New_case_variable.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FixMyStreet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120Y000000yqmJQAQ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This is a case created for a fixmy street call.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G0Y000002MHF8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_case_variable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Look_up_FixMyStreet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Set_Case_Owner</name>
        <label>Set Case Owner</label>
        <locationX>331</locationX>
        <locationY>333</locationY>
        <defaultConnector>
            <targetReference>Set_Case_Owner_CST</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Waste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_State_Description</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case Open - Allocated to Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Waste</targetReference>
            </connector>
            <label>Waste</label>
        </rules>
    </decisions>
    <description>Creates a case for a fixmystreet item</description>
    <interviewLabel>New FixMyStreet Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New FixMyStreet Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>342</locationX>
        <locationY>798</locationY>
        <assignRecordIdToReference>Create_Case_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_FixMyStreet</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>New_case_variable.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CaseOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>New_case_variable.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>New_case_variable.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>New_case_variable.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>New_case_variable.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Look_up_FixMyStreet</name>
        <label>Look up FixMyStreet</label>
        <locationX>333</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FixMyStreet_Id</elementReference>
            </value>
        </filters>
        <object>FixMyStreet__c</object>
        <outputAssignments>
            <assignToReference>FixMyStreet_Comments</assignToReference>
            <field>Description__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_FixMyStreet</name>
        <label>Update FixMyStreet Record</label>
        <locationX>343</locationX>
        <locationY>919</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FixMyStreet_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case_Id</elementReference>
            </value>
        </inputAssignments>
        <object>FixMyStreet__c</object>
    </recordUpdates>
    <startElementReference>Set_New_Case_Up</startElementReference>
    <status>Active</status>
    <variables>
        <name>Case_State_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store the id of the contact (or null if no contact)</description>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Create_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FixMyStreet_Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FixMyStreet_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_case_variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
